<html>
    <head>
    </head>
    <body style="background-color:#F8F8F8; padding: 6px;">
        <div style="border: 1px solid #e8e8e8; background-color:#FFF; max-width: 700px; margin: 10px auto 20px; padding:8px 15px;">
            <div style="">
                <img src="{{ logo }}" alt="Deporde.com" style="width:100%; max-width:200px; max-height:140px;" />
            </div>
            <div style="border-top: 1px solid #e8e8e8; margin-top: 5px; padding-top: 10px;">
            {{ message.textHTML | raw }}
            </div>
            <div style="margin-top: 15px;color:#999">
                --<br>
                {{ app.user.name }}<br>
                {{ domain }}
            </div>
        </div>
    </body>
</html>