# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    mail_from: ~
    
    locale: es
    
    secret: ThisTokenIsNotSoSecretChangeIt
    
    debug_toolbar: true
    debug_redirects: false
    use_assetic_controller: true
    
    directadmin_username: ~
    directadmin_domain: ~
    directadmin_password: ~
    directadmin_root: '/path/to/domains'
    
    mailgun_key: "key"
    mailgun_domain: "domain.com"
    mailer_transport: mailgun
    
    adsense_code: ''
    
    site_name: 'Deporde.com'

twig:
    globals:
        domain: "%directadmin_domain%"
        site_name: "%site_name%"

cspoo_swiftmailer_mailgun:
    key: "%mailgun_key%"
    domain: "%mailgun_domain%"