<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Crea tu web para el deporte en equipo. Rápido, fácil y personalizable">
        
        <title>Deporde.com | Crea tu web para el deporte</title>
        
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/animate.css" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <style>
            .head_logo {
                width:100%;
                max-width:400px;
                margin: 70px auto 20px;
            }
            h1 {
                font-size: 44px;
                font-weight: 400;
            }
            h1 small {
                font-weight: 100;
                display: block;
                margin-top:25px;
            }
            
            .signup {
                margin-top: 50px;
                background-color: #51A951;
                border: 1px solid #CCC;
                border-width: 1px 0;
                padding: 20px 5px 40px;
            }
            .signup h2 {
                color: #FFF;
                margin: 10px 0 30px; 
                font-size: 40px;
                font-weight: 300;
            }
            .signup p {
                color: #FFF;
            }
            
            .features {
                padding: 50px 0;
            }
            .features .feature {
                margin-top: 25px;
            }
            .features img {
                margin:0 auto;
            }
            .features p {
                color: #666;
            }
            .features h2 {
                margin-bottom: 30px;
            }
            
            @media (max-width: 767px) { /* Extra Small devices */
                .head_logo {
                    margin: 30px auto 20px;    
                }
                h1 {
                    font-size: 32px;
                }
                .signup h2 {
                    font-size: 26px;
                }
            }
        </style>
    </head>
    
    <body>
        <div class="container text-center">
            <img src="/logo.png" class="head_logo">
            
            <h1>Crea una web para tu grupo de <br><strong>deporte en equipo.</strong> <br><small>– Rápido, fácil y personalizable – </small></h1>
        </div> 
        <div class="signup">
            <div class="container text-center">
                <h2>Crear ahora una cuenta gratuita</h2>
                <form class="row" id="step1">
                    <div class="col-sm-5 col-sm-offset-2 col-md-4 col-md-offset-3">
                        <input type="text" class="form-control input-lg" placeholder="Escribe tu email..." id="signup_email" name="client_email">
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <button type="button" class="btn btn-warning btn-block btn-lg" onClick="submitEmail()">Empezar</button>
                    </div>
                </form>
                <div id="step2" style="display:none">
                    <p class="lead">Muchas gracias. En breve nos pondremos en contacto contigo.</p>
                </div>
            </div>
        </div>
        
        <div class="features">
            <div class="container text-center">
                <h2>Todo lo que necesitas en un único lugar.</h2>
                
                <div class="row">
                    <div class="col-sm-3 feature">
                        <img width="228" height="228" src="/img/icon_communication.png" class="img-responsive" />
                        <h3>Comunicación</h3>
                        <p>Tanto interna como externa. Crea formularios de contacto y páginas de información totalmente personalizados.</p>
                    </div>
                    <div class="col-sm-3 feature">
                        <img width="228" height="228" src="/img/icon_events.png" class="img-responsive" />
                        <h3>Calendario</h3>
                        <p>Organiza todas las actividades de forma colaborativa y gestiona la asistencia de los miembros del equipo.</p>
                    </div>
                    <div class="col-sm-3 feature">
                        <img width="228" height="228" src="/img/icon_track.png" class="img-responsive" />
                        <h3>Tracks GPS</h3>
                        <p>Totalmente integrado. Selecciona tu archivo de GPS y se extraerán automáticamente todos los datos y el recorrido sobre el mapa.</p>
                    </div>
                    <div class="col-sm-3 feature">
                        <img width="228" height="228" src="/img/icon_user.png" class="img-responsive" />
                        <h3>Membresía</h3>
                        <p>Mensajes privados, gestión de permisos, rendimiento personal y ranking de todos los usuarios.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            function submitEmail() {
                $('#step1').addClass('animated fadeOutUp');
                
                $.ajax( "{{ path('desport_signup') }}", {type:'post', data:$( "#step1").serialize()} )
                .done(function( data ) { loadStep2(data); });
            }
            
            function loadStep2(data) {
                $('#step1').css('display','none');
                $('#step2').css('display','block').addClass('animated fadeInUp');
            }
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </body>
</html>