<form method="POST" action="">
    <input type="text" name="name">.desport.es <br>
    Tu nombre: <input type="text" name="admin_username"><br>
    Tu email: <input type="text" name="admin_mail">
</form>