<form method="POST" action="?safe=1">
    <input type="text" name="name">.desport.es <br>
    Tu nombre: <input type="text" name="admin_username"><br>
    Tu email: <input type="text" name="admin_mail"><br>
    Borrar previa instalación <input type="checkbox" name="deleteandcreate"><br>
    <p><input type="submit"></input</p>
</form>

<hr>

<form method="POST" action="?safe=1&delete=1">
    Delete: <input type="text" name="name"><br>
    <p><input type="submit"></input</p>
</form>