body {
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
}
.titlewrap {
    padding: 10px 0 15px;
    background-color: #000;
}
.titlewrap a {
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    padding-top: 12px;
    font-family: "Roboto Slab", serif;
}
.titlewrap h1 {
    margin: 0;
    font-size: 36px;
    font-family: "Roboto Slab", serif;
    cursor: default;
    color: #FFF;
}
.titlewrap .head_logo {
    width: 26px;
    vertical-align: middle;
}
.titlewrap span {
    vertical-align: middle;
    letter-spacing: -2px;
}
.headerwrap {
    background-image: url('/javalambre.jpeg');
    background-size: cover;
    background-position: center;
    background-color: #A4B8C0;
    padding: 0;
    text-shadow: -2px 2px rgba(0,0,0,.4);
    color: #FFF;
}
.headerwrap .text-center {
    background-color: rgba(0,70,90,.3);
    padding: 25px 0;
    width: 100%;
}
.headerwrap h2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 52px;
    margin: 0;
}
.headerwrap h2 strong {
    font-style: italic;
    text-transform: uppercase;
}
.headerwrap h2 small {
    font-weight: 100;
    font-size: 22px;
    color: #FFF;
    background-color: rgba(0,30,70,.8);
    padding: 3px 10px 5px;
}

.btn-lg {
    padding: 8px 16px;
    border-bottom-width: 4px;
}

.signup {
    background-color: #EEE;
    padding: 40px 5px 60px;
}
.signup h2 {
    margin: 10px 0 30px; 
    font-size: 40px;
    font-weight: 300;
}
.signup label {
    text-align: left;
    font-size: 22px;
    font-weight: normal;
    margin-top: 15px;
}
.signup #step2 .btn.btn-lg {
    font-size: 1.6em;
}

.features {
    padding: 70px 0;
    background-color: #FFF;
}
.features .feature {
    margin-top: 50px;
}
.features img {
    margin:0 auto;
}
.features p {
    color: #777;
    margin-top: 20px;
}
.features .feature p {
    color: #555;
}
.features h2 {
    margin-bottom: 20px;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
}
.features hr {
    border-width: 2px;
}
.features h3 {
    font-size: 30px;
    color: #333;
}

.slogan {
    padding: 40px 0 100px;
    font-size: 56px;
    font-family: "Roboto Slab", serif;
    text-align: center;
    color: #555;
}

.footer {
    background-color: #000;
    padding: 25px 0 80px;
    color: #FFF;
    text-align: center;
}

@media (max-width: 767px) { /* Extra Small devices */
    .titlewrap {
        text-align: center;
    }
    .titlewrap a {
        font-size: 12px;
    }
    .headerwrap h2 {
        font-size: 30px;
        line-height: 42px;
    }
    .signup h2 {
        font-size: 26px;
    }
    .signup #step1 .btn.btn-lg {
        margin-top: 6px;
    }
    .features {
        padding: 40px 0;
    }
    .features h2 {
        font-size: 30px;    
    }
    .features .feature {
        margin-top: 30px;
        max-width: 500px;
        margin: 25px auto 0;
    }
    .slogan {
        font-size: 30px;    
    }
}