body {
    background-color: #F2F2F1;
    font-family: 'Roboto', sans-serif;
}
.titlewrap {
    background-color: #000;
    text-align: center;
    color: #FFF;
    margin: 0;
    padding: 0 0 15px;
    font-size: 60px;
    font-family: "Roboto Slab", serif;
}
.titlewrap .head_logo {
    width: 44px;
    vertical-align: middle;
}
.titlewrap span {
    vertical-align: middle;
    letter-spacing: -2px;
}
.headerwrap {
    background-image: url('/javalambre.jpeg');
    background-size: cover;
    background-position: center;
    background-color: #A4B8C0;
    padding: 60px 0;
    text-shadow: -2px 2px rgba(0,0,0,.5);
    color: #FFF;
}
.headerwrap h2 {
    font-size: 44px;
    font-weight: 400;
    line-height: 52px;
}
.headerwrap h2 strong {
    font-style: italic;
    text-transform: uppercase;
}
.headerwrap h2 small {
    font-weight: 100;
    font-size: 22px;
    color: #FFF;
    background-color: rgba(0,30,70,.8);
    padding: 3px 10px 5px;
}

.signup {
    background-color: #EEE;
    padding: 40px 5px 60px;
}
.signup h2 {
    margin: 10px 0 30px; 
    font-size: 40px;
    font-weight: 300;
}
.signup label {
    text-align: left;
    font-size: 22px;
    font-weight: normal;
    margin-top: 15px;
}
.signup #step2 .btn.btn-lg {
    font-size: 1.6em;
}

.features {
    padding: 70px 0;
    background-color: #FFF;
}
.features .feature {
    margin-top: 50px;
    min-height: 400px;
}
.features .feature i {
    font-size: 150px;
    color: #1D71B8;
}
.features img {
    margin:0 auto;
}
.features p {
    color: #999;
    margin-top: 20px;
}
.features h2 {
    margin-bottom: 20px;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
}
.features hr {
    border-width: 2px;
}
.features h3 {
    font-size: 44px;
    color: #333;
    text-align: center;
}
@media (max-width: 767px) { /* Extra Small devices */
    .headerwrap {
        padding: 30px 0;
    }
    .headerwrap h2 {
        font-size: 30px;
        line-height: 42px;
    }
    .signup h2 {
        font-size: 26px;
    }
    .signup #step1 .btn.btn-lg {
        margin-top: 6px;
    }
    .features h2 {
        font-size: 30px;    
    }
    .features, .features .text-right {
        text-align: center;    
    }
    .features .feature {
        margin-top: 30px;
        min-height: auto;
    }
    .features .feature i {
        font-size: 100px;    
    }
}