{% extends "::backend.html.twig" %}

{% set active = 'messages' %}

{% block content %}
    <section class="content-header">
        <h1>
            Mensajes de entrada
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li class="active"><a href="{{ path('desport_sales_client_index') }}">Mensajes</a></li>
        </ol>
    </section>
    
    <section class="content">
            <div class="box box-success mailbox">
                <div class="box-header">
                    <h3 class="box-title">Mensajes</h3>
                </div>
                <div class="box-body">
                    {% if messages | length %}
                        <table class="table table-mailbox"><tbody>
                                 
                        {% for message in messages %}
                            {{ include('DesportPanelBundle:Message:mailboxRow.html.twig',{message:message}) }}
                        {% endfor %}   
                        
                        </tbody></table> 
                        
                    {% else %}
                        <p class="lead">No hay mensajes de entrada</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}