<li>
    <!-- timeline icon -->
    <i class="fa fa-flag bg-navy"></i>
    <div class="timeline-item">
        <span class="time"><i class="fa fa-clock-o"></i> {{ event.date | date('g:i a') }}</span>

        <h3 class="timeline-header">Nuevo Evento registrado</h3>

        <div class="timeline-body">
            Publicado por <strong>{{ event.user.name }}</strong>:
            <br>{{ event.text }}
        </div>
    </div>
</li>